<nav class="ui inverted menu">
    <header class="header item"><a href="/"> <i class="ireland flag"></i><i class="bitcoin icon"></i> ATM POI Directory </a></header>
    <div class="right menu">
        <a class="active item" href="/home">Add &nbsp<i class="bitcoin icon"></i> ATM</a>
        <a class="item" href="/atms"> <i class="bitcoin icon"> </i> ATM LIST </a>
        <a class="item" href="/logout"> <i class="skull crossbones icon"> </i>Logout </a>
    </div>
</nav>

<section class="ui raised segment">

    {{> addAtm }}

</section>